.day
  border-bottom: 1px solid gray
  border-right: 1px solid gray
  border-left: 1px solid gray
  height: 25px

.day-title
  border-bottom: 1px solid gray

.grayed
  color: gray

.current-day
  background-color: #337ab7
  color: white

.btn
  margin-top: 25px
  width: 100px